*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: $mainColor;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: $lightGrey;
    letter-spacing: 0.01rem;
}
  
a {
    text-decoration: none;
    color: $lightGrey;
}
  
p {
    margin: 0.8rem 0;
}
  
li {
    list-style:none;
    margin-bottom: 0.2rem;
}
  
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
  
.block-title {
    text-align: center;
}
  
.desktop-flex-only{
    display: none;
}
  
.flex-row {
    display: flex;
    flex-direction: row;
}
  
  .flex-sm-column-l-row {
      display: flex;
      flex-direction: column;
  }
  
  .flex-column {
      display: flex;
      flex-direction: column;
  }
  
  .flex-center-center{
      align-items:center;
      justify-content:center;
  }
  
  .flex-center-space-between{
      align-items:center;
      justify-content:center;
  }
  
  .header .box-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .box-container.content-container {
    padding: 15px;
  }
  
  .block-page-title{
    padding: 20px 0;
  }
  
  .page-title {
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
  }
  
  .page-subtitle {
    font-weight: lighter;
    color: #8c8c8c;
    font-size: 14px;
    text-align: center;
    font-style: italic;
  }
  
  .text-notice {
    opacity: 0.5;
    font-style: italic;
    font-size: 0.9rem;
  }
  
  .page-content{
    padding: 20px;
  }
  
  .block {
    background-color:$mainColorDark;
    padding: 30px;
    margin-bottom: 30px;
  
    .block-title {
      text-transform: uppercase;
      opacity: 0.5;
      margin-bottom:20px;
    }
    }
  
@media screen and (min-width: 768px){

    .mobile-only {
    display: none;
    }
    .desktop-flex-only {
    display: flex;
    }

    .bm-burger-button {
    display: none;
    }

    .d-flex {
    flex-direction: row;
    }

    .box-container.content-container {
    padding: 20px;
    }

    .flex-sm-column-l-row {
    flex-direction: row;
    }

    .credit-conditions {
    margin-right:15px;
    }
    
    .about-credit{
    margin-left: 15px;
    }
    
}
  
  